.sthez{
	margin-top:10px;
	width:100%;
	overflow: hidden;
	background:#eeeeee;
}
.sthez1{
	width:960px;
	overflow: hidden;
	margin:0 auto;
}
.sthez1_1{
	width:200px;
	margin-top:10px;
	margin-left:10px;
	float: left;
	overflow: hidden;
}
.sthez1_bt{
	margin-top:5px;
	height:30px;
	background: #dedede;
	padding-left:10px;
	line-height: 30px
}
.sthez1_lb{
	border-top:1px solid #eeeeee;
	padding-bottom: 30px;
	background: #000;
	display:none;
}
.sthez1_1 a{
	display:block;
	padding-left:20px;
	color:#fff;
}
.sthez1_2{
	float: left;
	width: 720px;
	overflow: hidden;
	line-height: 30px;
	margin:15px 10px 0px 20px;
}
.sthez1_2 select{
	float:left;
	width:200px;
	height:30px;
	border:1px solid #000;
	outline:none;
}
.sthez1_2 p{
	float:right;
	margin-right: 10px;
	font-size: 12px
}
.sthez1_3{
	float: left;
	width: 720px;
	overflow: hidden;
	margin:15px 10px 0px 20px;
}
.sthez1_3_1{
	float:left;
	width:238px;
	height:363px;
	background:#fff;
	border:1px solid #dedede; 
	border-left:-1px solid #dedede;
	border-bottom:-1px solid #dedede;
}
.sthez1_3_1_1{
	width:238px;
	height:245px;
	border-bottom:1px solid #dedede;
	
}
.sthez1_3_1_1 img{
	width:122px;
	height:160px;
	margin:42px 58px;
}
.sthez1_3_1_2{
	width:238px;
	height:100px;
}
.sthez1_3_1_2 p{
	margin: 10px;
}
.sthez1_3_1_2 span{
	float: right;
	background:#000;
	color:#fff;
	padding-left:5px;
	padding-right:5px;
	margin: 30px 10px 10px 10px;
}